.search-content {
    margin: 32px 148px;
    padding: 0;
}

.Frame-top {
    gap: 16px;
}

.Search-title-amount {
    padding: 0;
}

.suggest-search {
    display: flex;
    align-items: flex-start;
    padding: 24px 32px;
    gap: 16px;
    border-radius: 24px;
    background-color: var(--SurfaceBright-color);
}

.img-search {
    width: 80px;
    height: 100px;
}

.suggest-item {
    display: flex;
    padding: 24px;
    justify-content: center;
    gap: 8px;
    border-radius: 12px;
    background-color: var(--White-color);
}

.search-result-content {
    justify-items: right;
    justify-content: right;
    display: flex;
    margin: 32px 0 0 0;
    height: auto;
}

/* Warning */
.row {
   --bs-gutter-x: 0;
}

.row-sort-button {    
    width: auto;
    position: relative;
    padding: 0;
    right: 0;
}

.frame-result {
    padding: 0;
    margin: 24px 0 0 0;
    gap: 24px;
}

.filter {
    max-width: 258px;
    height: 1000px;
    padding: 16px;
    border-radius: 24px;
    background-color: var(--SurfaceBright-color);
}

.content {
    padding: 16px;
    border-radius: 24px;
    background-color: var(--SurfaceBright-color);
}